{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container-fluid align-items-center">
        <div class="row text-center">
            <div class="col-12 text-center">
                <h2 class="pt-5"> {{ product.name }} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="lead mb-0 text-left font-weight-bold">Price: £{{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                        </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            {% endwith %}

                            {% with product.has_boots_sizes as d %}
                            {% if d %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7" selected>7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            {% endif %}
                            {% endwith %}

                            {% with product.has_ski_sizes as f %}
                            {% if f %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="161cm">161cm</option>
                                        <option value="168cm" selected>168cm</option>
                                        <option value="175cm">175cm</option>
                                    </select>
                                </div>
                            {% endif %}
                            
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span>
                                                    <i class="fa fa-minus fa-sm"></i>
                                                </span>
                                             </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span>
                                                    <i class="fa fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr>
        <div class="container">
        <h2 class="pt-1 text-center">Reviews</h2>

        <div class="card pt-2 pl-5">
            {% for review in product.reviews.all %}
                <div>
                    <p class="pt-3">
                        <strong>Date: </strong>{{ review.date_added|date:"d-m-y" }}
                        <strong class="pl-3">User: </strong>{{ review.user_review }}
                        <strong class="pl-3">Stars Rating: </strong>{{ review.stars }}/5
                    </p>
                    <p>{{ review.content }}</p>
                </div>
            {% empty %}
                <div class="pt-3 pl-5">
                    <p>No reviews yet...</p>
                </div>
            {% endfor %}
        </div>

        <div class="pt-2">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}
                    <h5 class="text-center pt-2">Please enter your review below: </h5>
                    <div class="form-group">
                        <label for="input stars rating ">Stars</label>

                        <select class="form-control" name="stars">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                    </div>

                    <div class="form-group">
                        <label for="input review">Review</label>

                        <textarea class="form-control" name="content" rows="5" ></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <p class="text-center">Please <a href="{% url 'account_login' %}">sign</a> in to add review!</p>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}